.hero {
  height: calc((var(--vh) * 100) - 67px);
  z-index: 1;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/market.svg");
    background-position: center;
    background-size: 15%;

    z-index: -1;
  }
}
