<div class="flex flex-col hScreen">
  <app-navbar class="z-50 shadow-lg"></app-navbar>
  <div
    class="hero grow relative p-4 flex-col-center text-center before:opacity-5 dark:before:opacity-10"
  >
    <div>
      <h1 class="text-[8.4vw]/8 dark:text-snow font-bold uppercase">
        {{ "home.title" | translate }}
      </h1>
      <p class="mt-2 mb-15 dark:text-snow/75">
        {{ "home.sub_title" | translate }}
      </p>
      <app-basic-button
        text=" {{ 'home.button' | translate }}"
        routerLink="/auth"
      ></app-basic-button>
      <p class="dark:text-snow">
        {{ "home.not_register" | translate }}
        <a routerLink="auth/register" class="text-seaGreen">{{
          "home.link" | translate
        }}</a
        >.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
