@if(translation){
<div class="flex flex-col hScreen">
  <app-navbar class="z-50 shadow-lg"></app-navbar>
  <div
    class="hero grow relative p-4 flex-col-center text-center before:opacity-5 dark:before:opacity-10"
  >
    <div>
      <h1
        class="text-[8.4vw] leading-8 min-[460px]:leading-10 min-[620px]:leading-12 min-[740px]:leading-15 min-[940px]:leading-18 min-[1120px]:leading-none dark:text-snow font-bold uppercase"
      >
        {{ translation.title }}
      </h1>
      <p class="mt-2 mb-15 dark:text-snow/75 lg:text-xl">
        {{ translation.sub_title }}
      </p>
      <app-basic-button
        text=" {{ translation.button }}"
        routerLink="/auth"
      ></app-basic-button>
      <p class="dark:text-snow">
        {{ translation.not_register }}
        <a routerLink="auth/register" class="text-seaGreen">{{
          translation.link
        }}</a
        >.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
}
