<div class="flex flex-col h-[calc(var(--vh)*100)]">
  <app-navbar class="z-50 shadow-lg"></app-navbar>
  <div
    class="hero grow relative p-4 flex-col-center text-center before:opacity-5 dark:before:opacity-10"
  >
    <div>
      <h1 class="text-[8.4vw]/8 dark:text-snow font-bold uppercase">
        Dividere le spese? Facile, veloce, trasparente.
      </h1>
      <p class="mt-2 mb-15 dark:text-snow/75">
        Accedi subito per gestire con semplicità tutte le tue spese condivise.
      </p>
      <app-basic-button
        text="Entra nell'app"
        routerLink="/auth"
      ></app-basic-button>
      <p class="dark:text-snow">
        Non hai ancora un account?
        <a routerLink="auth/register" class="text-seaGreen">Registrati ora</a>.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
