<h1 class="text-center text-3xl font-bold my-5">Termini di Servizio</h1>

<div class="px-3 py-5">
  <h3 class="terms">Introduzione</h3>
  <p>
    Accedendo alla nostra app, accetti automaticamente i presenti Termini di
    Servizio. L'app è pensata per gestire e dividere facilmente le spese tra più
    persone.
  </p>

  <h3 class="terms">Registrazione e account</h3>
  <p>
    Ogni utente è responsabile dei dati forniti in fase di registrazione e del
    mantenimento della riservatezza delle proprie credenziali.
  </p>

  <h3 class="terms">Condizioni d’uso</h3>
  <p>
    Gli utenti sono tenuti a utilizzare l'app in modo corretto, evitando
    comportamenti dannosi o fraudolenti.
  </p>

  <h3 class="terms">Limitazioni di responsabilità</h3>
  <p>
    Non siamo responsabili per eventuali perdite finanziarie o dispute tra
    utenti derivanti dall'uso improprio dell'app.
  </p>
  <h3 class="terms">Modifiche ai termini</h3>
  <p>
    Ci riserviamo il diritto di modificare questi termini. Gli utenti verranno
    informati tramite aggiornamenti nell'app stessa.
  </p>
  <h3 class="terms">Legge applicabile e controversie</h3>
  <p>I presenti termini sono regolati dalla legge italiana.</p>
</div>
