<div
  class="flex justify-between px-3 py-5 border-t-3 border-jet dark:text-snow"
>
  <div class="flex space-x-3">
    <a routerLink="/info/terms">{{ "footer.term" | translate }}</a>
    <span> | </span>
    <a routerLink="/info/privacy">{{ "footer.privacy" | translate }}</a>
    <span> | </span>
    <a routerLink="/info/terms">{{ "footer.contacts" | translate }}</a>
  </div>
  <div class="text-end">
    <button (click)="setLanguage('it')">It</button>
    <span> | </span>
    <button (click)="setLanguage('en')">En</button>
  </div>
</div>
