@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --dark: #010400ff;
  --jet: #282b27ff;
  --snow: #fffbfcff;
  --seaGreen: #09814aff;
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: var(--dark);
  --color-jet: var(--jet);
  --color-snow: var(--snow);
  --color-seaGreen: var(--seaGreen);
  --font-montserrat: var(--montserrat);
  --font-roboto: var(--roboto);

  --shadow-basicBtn: 1px 1px 10px;
  --drop-shadow-basicLight: 0px 0px 7px var(--color-dark);
  --drop-shadow-basicDark: 0px 0px 7px var(--color-snow);

  --animate-ripple: ripple 1s linear forwards;
  @keyframes ripple {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.3;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply font-roboto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat;
  }

  body {
    @apply bg-snow dark:bg-dark text-dark dark:text-snow;
  }
}

@layer components {
  .card {
    @apply bg-amber-800 border border-gray-800 rounded-lg shadow;
  }
}
@utility hScreen {
  @apply h-[calc(var(--vh)*100)];
}

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}

@utility terms {
  @apply text-2xl font-medium dark:text-snow;
}
@utility hTerms {
  @apply text-center text-3xl font-bold my-5 dark:text-snow;
}
@utility pTerms {
  @apply dark:text-snow/80;
}

.hero {
  z-index: 1;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/market.svg");
    background-position: center;
    background-size: 10%;

    z-index: -1;
  }
}
